$nav-color : #0A1128;
$active    : #F4E8C1;
$secondary : #001F54;

* {
    padding: 0;
    margin: 0;
    font-family: "Neuton" sans-serif;
}

.wrapper {
    width: 100vw;
    height: 100vh;

    .header {
        height: 100px;
        width: 100%;
        display: flex;

        .logo {
            height: 100px;
            width: 150px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .top-menu {
            width: calc(100% - 150px);
            display: flex;
            justify-content: space-around;
            align-items: flex-end;
            background-color: $nav-color;

            .selector {
                width: 230px;
                height: 70px;
                display: flex;
                justify-content: center;
                background-color: transparent;
                transition: all .5s;

                span {
                    cursor: pointer;
                    font-family: "Neuton";
                    width: 180px;
                    height: 40px;
                    background-color: $active;
                    color: $secondary;
                    text-align: center;
                    font-size: 24px;
                    border-radius: 10px;
                    margin-top: 5px;
                    transition: all .5s;
                }
            }

            .selector:hover, .selector:active {

                span {
                    border: solid 5px $active;
                    background-color: $secondary;
                    color: white;
                }
            }

            .active {
                background-color: $active;
                border-radius: 30px 30px 0px 0px;

                span {
                    margin-top: 20px;
                    background-color: $secondary;
                    color: white;
                }
            }
        }
    }

    .main-content {
        display: flex;
        flex-flow: row nowrap;
        width: 100vw;
        height: calc(100% - 100px);
        .side-menu {
            height: 100%;
            width: 150px;
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-around;
            align-items: center;
            background: $nav-color;

            .selector {
                cursor: pointer;
                width: 90px;
                height: 90px;
                background: $active;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all .5s;
                transition: color 1s ease;
                white-space: nowrap;
                overflow: hidden;
                position: relative;
                z-index: 2;

                img {
                    width: 70%;
                    height: 70%;
                }

                &:after {
                    display: block;
                    content: "";
                    position: absolute;
                    top: 0;
                    right: -35px;
                    width: 5px;
                    height: 3px;
                    background: $active;
                    z-index: 1;
                    transition: all 1s ease 0s;
                }

                &:hover {
                    overflow:visible;
                    &:after {
                        height: 100%;
                    }
                }
            }



            // .selector:hover, .selector:active {
            //
            //     span {
            //         border: solid 5px $active;
            //         background-color: $secondary;
            //         color: white;
            //     }
            // }
            //
            // .active {
            //     background-color: $active;
            //     border-radius: 30px 30px 0px 0px;
            //
            //     span {
            //         margin-top: 20px;
            //         background-color: $secondary;
            //         color: white;
            //     }
            // }
        }

        >.active {
            border-left: solid 5px $active;
        }

        .content {
            width: calc(100% - 150px);
            height: calc(100vh - 170px);
            box-sizing: border-box;
            border-top: solid 5px $active;
            position: relative;
            .user-field {
                width: 100%;
                height: 100%;
                >div {
                    width: 100%;
                    height: 100%;
                    display: none;

                    &:nth-child(1) {
                        background-image: url('../img/map.jpg');
                        background-size: cover;
                    }
                }

                .nav {
                    position: absolute;
                    top: 0px;
                    height: 100%;
                    width: 200px;
                    background: rgba(0, 31, 84, 0.7);
                    box-shadow: 4px 0px 4px rgba(244, 232, 193, 0.25);
                    flex-flow: column nowrap;
                    justify-content: space-between;
                    align-items: center;

                    span {
                        width: 180px;
                        text-align: left;
                        font-family: "Neuton";
                        font-size: 18px;
                        color: $active;
                        padding: 10px;
                    }

                    .ok {
                        cursor: pointer;
                        width: 140px;
                        height: 40px;
                        background: $active;
                        margin-bottom: 30px;
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: center;
                        align-items: center;
                        border-radius: 10px;
                        transition: all .3s;

                        span {
                            text-align: center;
                            font-family: "Neuton";
                            color: $nav-color;
                            font-weight: bold;
                            font-size: 16px;
                        }

                        &:hover {
                            box-sizing: border-box;
                            border: solid 5px $active;
                            background: $secondary;
                            span {
                                color: $active;
                            }
                        }
                    }

                }
                .pop-up {
                    position: absolute;
                    top: 70px;
                    right: 150px;
                    width: 400px;
                    height: 250px;
                    background: rgba(0, 31, 84, 0.5);
                    box-shadow: 0px 4px 4px rgba(244, 232, 193, 0.25), 0px -4px 4px rgba(244, 232, 193, 0.25), 4px 0px 4px rgba(244, 232, 193, 0.25), -4px 0px 4px rgba(244, 232, 193, 0.25);
                    flex-flow: column nowrap;
                    justify-content: space-between;
                    align-items: center;

                    span {
                        width: 380px;
                        text-align: left;
                        color: $active;
                        font-size: 18px;
                        font-family: "Neuton";
                        margin: 10px;
                    }

                    .okay {
                        cursor: pointer;
                        width: 140px;
                        height: 40px;
                        background: $active;
                        margin-bottom: 30px;
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: center;
                        align-items: center;
                        border-radius: 10px;
                        transition: all .3s;

                        span {
                            text-align: center;
                            font-family: "Neuton";
                            color: $nav-color;
                            font-weight: bold;
                            font-size: 16px;
                            margin: 10px;
                        }

                        &:hover {
                            box-sizing: border-box;
                            border: solid 5px $active;
                            background: $secondary;
                            span {
                                color: $active;
                            }
                        }
                    }
                }

                .active {
                    display: flex;
                }
            }

            .footer {
                width: 100%;
                height: 70px;
                background-color: $secondary;
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                justify-content: space-between;

                .warning-display {
                    cursor: pointer;
                    padding: 0px 10px;
                    margin-left: 10px;
                    display: flex;
                    flex-flow: row nowrap;
                    align-items: center;
                    transition: all .2s;
                    img {
                        height: 50px;
                        width: 50px;
                        margin-top: 5px;
                    }

                    span {
                        font-family: "Neuton";
                        font-weight: bold;
                        color: $active;
                        font-size: 18px;
                    }

                    &:focus, &:hover {
                        box-sizing: border-box;
                        outline: solid 3px $active;
                    }
                }

                .date {
                    width: 220px;
                    height: 100%;
                    background-color: $active;
                    color: $nav-color;
                    font-weight: bold;
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: center;
                    align-items: flex-end;
                    p {
                        margin-right: 5px;
                        font-family: "Neuton";
                        &:first-child {
                            font-size: 36px;
                            letter-spacing: 5px;
                            line-height: 36px;
                        }
                        &:last-child {
                            font-size: 24px;
                            letter-spacing: 2px;
                            line-height: 24px;
                        }
                    }
                }
            }
        }
    }
}
